<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-footer class="bottom-nav">
    <ion-toolbar>
      <ion-buttons>
        <ion-button
          [class.active]="isActive('/inventory-list')"
          routerLink="/inventory-list"
          routerDirection="root"
        >
          <ion-icon name="grid-outline"></ion-icon>
          <ion-label>Inventory</ion-label>
        </ion-button>

        <ion-button
          [class.active]="isActive('/add-item')"
          routerLink="/add-item"
          routerDirection="root"
        >
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Add</ion-label>
        </ion-button>

        <ion-button
          [class.active]="isActive('/update-item')"
          routerLink="/update-item"
          routerDirection="root"
        >
          <ion-icon name="create-outline"></ion-icon>
          <ion-label>Update</ion-label>
        </ion-button>

        <ion-button
          [class.active]="isActive('/privacy')"
          routerLink="/privacy"
          routerDirection="root"
        >
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <ion-label>Privacy</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-app>
